.alert {
  margin: 8px 0 8px 0;
  border-radius: 4px;
  padding: 16px;
}

.success {
  background-color: #edf7ed;
  color: #1e461e;
}

.error {
  background-color: #fdeded;
  color: #5f2120;
}

.info {
  background-color: #e5f6fd;
  color: #014361;
}

.warning {
  background-color: #fff4e5;
  color: #663c00;
}
