.formElement {
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
}

.textarea {
  border: 1px solid #E0E0E0FF;
  padding: 6px;
  min-height: 150px;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.primary {
  background-color: #007bff;
}

.secondary {
  background-color: #9da0a4;
}
