.formElement {
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
}

.textarea {
  border: 1px solid rgb(224, 224, 224);
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  min-height: 150px;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
}
