.formElement {
  font-size: 16px;
  line-height: 28px;
  padding: 8px;
  width: 100%;
  min-height: 44px;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
}

.textarea {
  border: 1px solid rgb(224, 224, 224);
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  min-height: 150px;
  resize: vertical;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.button {
  background-color: rgb(84, 105, 212);
  color: #fff;
  border: unset;
  font-weight: 600;
  cursor: pointer;
}
