.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw
}

.refactoringGoal {
    border: 1px solid #000000;
    padding: 10px;
}

.prerequisite {
    border: 1px solid #000000;
    padding: 10px;
}
