body {
    background-color: #F3F6F9FF;
    margin: 0;
    padding: 0;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: #EDF7EDFF;
    color: #1E4620FF;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
    background-color: #E5F6FDFF;
    color: #014361FF;
}

.Toast-theme--colored--colored.Toastify__toast--warning {
    background-color: #FFF4E5FF;
    color: #663C00FF;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
    background-color: #FDEDEDFF;
    color: #5F2120FF;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info {
    background-color: #014361FF;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success {
    background-color: #1E4620FF;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning {
    background-color: #663C00FF;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
    background-color: #5F2120FF;
}

.react-flow__minimap {
    height: 150px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
}
