.goalLabel {
    font-size: 14px;
    font-weight: bold;
    color: #545454;
}

.container {
    padding: 10px;
    width: 500px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: rgba(60, 66, 87, 0.12) 0 7px 14px 0, rgba(0, 0, 0, 0.12) 0 3px 6px 0;
}

.todo {
    background-color: #FFF4E5FF;
}

.experimenting {
    background-color: #E5F6FDFF;
}

.done {
    background-color: #EDF7EDFF;
}

.notice {
    text-align: center;
}
